*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Titillium Web', sans-serif;
    color: white;
}

.location, .temperature{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
    width: 50%;
}

.temperature{
    flex-direction: column;
}

.temp-description{
    text-align: center;
    font-size: 30px;
}

.degree-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.degree-section span{
    margin: 10px;
    font-size: 30px;
}

.degree-section h2{
font-size: 40px;
}

#img{
    width: 100px;
    height: 100px;
}

.details{
display: flex;
font-size: 20px;
}